.card {
  padding: 18px 16px;
  background: #FEEDB3;
  display: flex;
  justify-content: space-between;


  &__text {
    padding-right: 16px;
  }

  &__buttons {
    display: flex;
    gap: 13px;
    padding-top: 5px;
  }
}
