.data-block {
  padding: 40px;

  &__head {
    margin-bottom: 20px;
  }

  &__card {
    margin-bottom: 25px;
  }
}

.head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #161616;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__buttons {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    gap: 15px;
  }

  &__object {
    margin-top: 20px;
  }
}

.object {
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
